#root {
  display: flex;
  max-width: 1280px;
  height: 100dvh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-color: #5923A8; */
}

.form {
  display: flex;
  justify-content: space-between;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  padding: 2rem;
  /* background-color: #6000F0; */
  background-color: #5923A8;
  border-radius: 8px;
}

.ingresar {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.newTask {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  /* background-color: #6000F0; */
}

.newTaskWrite {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  /* margin-left: 70px; */
  background-color: #000000;
}

a{
  color: aqua;
}